.container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    /* background-image: url('../../images/hotel.jpg') ; */
  }
  
  @media screen and (min-width: 740px) {
    .container {
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }

  .banner {
    width: 100%;
    aspect-ratio: 16/9;
    /* background-image: url(./img/image2.svg); */
    background-size: cover;
    text-align: center;
  }
  
  .banner__stripe {
    color: white;
    background-color: #131E2A;
    padding: 0.5rem 0;
  }
  
  .banner__stripe h1 {
    font-family: 'Agbalumo', cursive;
    font-size: 1.5rem;
    margin: 0;
  }
  
  .banner__stripe .lead {
    font-size: 1rem;
    margin: 0;
  }
  
  @media screen and (min-width: 740px) {
    .banner__stripe {
      padding: 1rem 0;
    }
    
    .banner__stripe h1 {
      font-size: 2rem;
    }
  
    .banner__stripe .lead {
      font-size: 1.2rem;
    }
  }

  /* img {
    width: 100vh;
    height: auto;
    border-radius: 0.5rem;
  } */